<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="styles.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>

  <div class="page-container">
    <div class='page-header'>
      <div><b>บัญชีรายชื่อข้าราชการตำรวจในสังกัด บก.กต.๑ จต.</b></div>
    </div>
    <div class='table-container'>
      <table>

        <tr>
          <th style='border-bottom: 0px;width:4%;'>ลำดับ</th>
          <th style='border-bottom: 0px;width:6%;'>ยศ</th>
          <th style='border-bottom: 0px;width:21%;'>ชื่อ - นามสกุล</th>
          <th style='border-bottom: 0px;width:14%;'>ตำแหน่ง</th>
          <th style='border-bottom: 0px;width:5%;'>สังกัด</th>
          <th style='border-bottom: 0px;width:12%;'>หมายเลขโทรศัพท์ (มือถือ)</th>
          <th style='border-bottom: 0px;width:12%;'>หมายเลขโทรศัพท์ (สำนักงาน)</th>
          <th style='border-bottom: 0px;width:6%;'>*ระดับสิทธิการเข้าถึงข้อมูล</th>
          <th style='border-bottom: 0px;width:8%;'>ได้รับมอบหมายตรวจด้านที่</th>
          <th style='border-bottom: 0px;width:13%;'>หมายเหตุ</th>
        </tr>
        <% for (var i = 0; i < data.length; i++) { %>
        <tr>
          <td><%= toThaiNumber(i + 1) %></td>
          <td style='text-align:left'><%= data[i].honor %></td>
          <td style='text-align:left'><%= data[i].fullname %></td>
          <td style='text-align:left'><%= data[i].position %></td>
          <td><%= data[i].affiliate %></td>
          <td style='text-align:left'><%= data[i].phone %></td>
          <td style='text-align:left'><%= data[i].phone_office %></td>
          <td><%= data[i].privacy %></td>
          <td><%= data[i].assigned_check_side %></td>
          <td style='text-align:left'><%= data[i].remark %></td>
        </tr>
        <% } %>
      </table>
    </div>

    <div class='footer-container'>



      <div class='footer-item left'>
        <div>หมายเหตุ</div>

      </div>

      <div class='footer-item center'>
        <div>
          <span>* ระดับ ๑ จตร.(หน.จต.)จตร.(สบ.๘)/รอง จตร.</span>
        </div>
        <div>
          <span>&nbsp; ระดับ 2 ผบก.กต.1-10/รองผบก.กต.1-10</span>
        </div>
        <div>
          <span>&nbsp; ระดับ 3 ผกก.ฝสต.กต.1-10/รองผกก.ฝสต.กต.1-10/สว.ฝสต.กต.1-10</span>
        </div>
        <div>
          <span>&nbsp; ระดับ 4 รองสว.ฝสต.กต.1-10/ผบ.หมู่ฝสต.กต.1-100</span>
        </div>
        <div>
          <span style="color: #FF0000">&emsp; &emsp; ** ขอไฟล์Excel ส่งทางไลน์กลุ่ม ฝตป.รายงานผล..</span>
        </div>
      </div>

      <div class='footer-item right'>
        <div style='margin-bottom:5px'>ตรวจแล้วถูกต้อง</div>
        <div style='text-align: left; margin-bottom:5px'>พ.ต.อ.</div>
        <div>(กิตติวัตน์ กฤษณะทรัพย์)</div>
        <div>ผกก.ฝสต.2 กต.1 จต.</div>
      </div>



    </div>


</body>





</html>